modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
ADMIN_PASSWORD = "SylviBoo*2026"
ADMIN_USERNAME = "SAZOPSCHECKIN08"
CHECKIN_BASE_URL = "https://d703b720-1b7f-47a9-b40f-3ada67ffcb64-00-28oze2zk8h48b.worf.replit.dev/checkin-app"

[nix]
channel = "stable-25_05"
